<div id="header">
  <div class="headerTabs">
    <a routerLink="../" id="home">Home</a>
    <!--opens main page -->
    <a routerLink="../blog" id="blog">Blog</a
    ><!--opens blog page -->
    <a routerLink="../projects" id="projects">Projects</a
    ><!--opens project page -->
    <a routerLink="../contact" id="contact">Contact</a
    ><!--opens contact page -->
    <label for="search" name="search" id="searchLabel">Search</label>
    <input type="search" name="search" id="search" />
  </div>
</div>
